.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.radioButton {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-control-border);
  transition: border-color 0.3s ease;
  flex-shrink: 0;
}

.container:hover .radioButton {
  border-color: var(--color-filter-form-accent);
}

.radioButton::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--color-filter-form-accent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

input[type='radio']:checked + .radioButton {
  border-color: var(--color-filter-form-accent);
}

input[type='radio']:checked + .radioButton::after {
  transform: translate(-50%, -50%) scale(1);
}

.label {
  user-select: none;
}
