.footer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
  justify-content: space-between;
  width: 100%;
  min-height: 232px;
  padding: 32px 36px;
  background-color: #fff;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-xl);
}

.copyright {
  color: #69735d;
  font-size: var(--font-size-sm);
  line-height: 16px;
}

.nav {
  align-self: center;
  flex: 0 1 1020px;
  max-width: 1020px;
}

.list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 12px 24px;
  width: 100%;
  list-style: none;
}

.link {
  color: #253017;
  font-size: var(--font-size-base);
  line-height: 24px;
}

@media (width <= 768px) {
  .footer {
    min-height: auto;
    padding: var(--space-md);
  }

  .nav {
    flex-basis: 100%;
  }
}