.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  height: 48px;
  padding: 12px var(--space-lg);
  border: none;
  border-radius: var(--radius-lg);
  font-size: var(--font-size-base);
  line-height: 24px;
  letter-spacing: 0.32px;
  white-space: nowrap;
  transition:
    background-color 0.15s,
    border-color 0.15s,
    color 0.15s;
}

.button:disabled {
  cursor: not-allowed;
}

.button:not(:disabled) {
  cursor: pointer;
}

.primary {
  background-color: #abd27a;
  color: #253017;
}

.primary:hover:not(:disabled) {
  background-color: #deebc5;
}

.primary:active:not(:disabled) {
  background-color: #508826;
  color: #fff;
}

.primary:disabled {
  background-color: #e4e8df;
  color: #69735d;
}

.secondary {
  border: 1px solid #abd27a;
  background-color: #fff;
  color: #253017;
}

.secondary:hover:not(:disabled) {
  border-color: #deebc5;
  color: #69735d;
}

.secondary:active:not(:disabled) {
  border-color: #508826;
  color: #253017;
}

.secondary:disabled {
  border-color: #e4e8df;
  color: #9ca197;
}

.tertiary {
  background-color: transparent;
  color: #253017;
}

.tertiary:hover:not(:disabled) {
  opacity: 0.7;
}

.tertiary:disabled {
  opacity: 0.5;
}

.outlined {
  border: 1px solid #69735D;
  background-color: var(--color-bg);
  color: var(--color-main-text);
  padding: 12px 0;
  width: 436px;
}
