.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: Jost, sans-serif;
  font-weight: 500;
  font-size: var(--font-size-2xl);
  line-height: 28px;
  letter-spacing: -0.011em;
  text-align: center;
  margin-top: 40px;
}

.message {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: var(--space-md);
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 4px;
}

.buttons{
  margin-top: var(--space-xl);
  display: flex;
  justify-content: space-between;
}
