.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-lg);
  padding: var(--space-md) var(--space-xl);
  background-color: #fff;
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #253017;
}

@media (width <= 768px) {
  .header {
    padding: var(--space-md);
  }

  .actions {
    gap: var(--space-md);
  }
}