.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-md);
}

.header {
  font-weight: 500;
  font-size: 24px;
  color: var(--color-main-text);
}

.stepContainer {
  display: flex;
  gap: var(--space-md);
  list-style: none;
}

.step {
  width: 60px;
  height: 4px;
  border-radius: 8px;
  background-color: var(--color-inactive);
}

.active {
  background-color: var(--color-accent);
}
