.section {
  width: 1020px;
  gap: 32px;
}

.header {
  width: 1020px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.title {
  width: 179px;
  height: 40px;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.toggleButton {
  width: 187px;
  height: 48px;
  background: none;
  color: #253017;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.toggleButton:hover .arrow {
  transform: translateX(4px);
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 324px);
  gap: 24px;
  width: 1020px;
  justify-content: flex-start;
}

.cardsGrid.collapsed {
  grid-template-columns: 324px;
  justify-content: flex-start;
}

.cardsGrid.collapsed .userCard:nth-child(n + 4) {
  display: none;
}
