.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-main-text);
  font-family: inherit;
}
